<mat-icon 
  aria-hidden="false" 
  aria-label="Retour à l'accueil" 
  fontIcon="home" 
  (click)="goHome()"
  style="cursor: pointer;">
</mat-icon>

<div class="container">
  <h3>Achats In-App</h3>
  
  <div class="inapp-list">
    <mat-form-field appearance="fill">
      <mat-label>Sélectionnez un achat in-app</mat-label>
      <mat-select [(ngModel)]="selectedInAppId" (selectionChange)="onInAppSelectionChange()">
        <mat-option value="">Afficher tous les in-app</mat-option>
        @for (inApp of filteredInAppPurchases; track inApp.id) {
          <mat-option [value]="inApp.id">
            {{ inApp.name }} ({{ inApp.productId }})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="desired-price-container" >
    <mat-form-field appearance="outline" class="desired-price-field">
      <input 
        type="number" 
        matInput 
        placeholder="Prix souhaité" 
        [(ngModel)]="globalDesiredPrice"
        min="0"
        step="0.01">
    </mat-form-field>
    
    <button 
      mat-raised-button 
      color="primary" 
      class="submit-price-button"
      (click)="applyDesiredPriceToAll()"
      [disabled]="!globalDesiredPrice || globalDesiredPrice <= 0"
      >
      Appliquer à tous
    </button>
  </div>
  <div class="inapp-details">
    <mat-card>
      @if (selectedInApp) {
        <mat-card-header>
          <mat-card-title>Détails pour {{ selectedInApp.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>App:</strong> {{ selectedInApp.app_name }}</p>
          <p><strong>Bundle ID:</strong> {{ selectedInApp.bundle_id }}</p>
          <p><strong>Type:</strong> {{ selectedInApp.type }}</p>
        </mat-card-content>
      } @else if (dataSource.data.length > 0) {
        <mat-card-header>
          <mat-card-title>Tous les achats in-app</mat-card-title>
        </mat-card-header>
      }

      <mat-card-content>
        <div class="prices">
          <!--<mat-form-field appearance="fill">
            <mat-label>Pays</mat-label>
            <mat-select [(value)]="selectedCountry" (selectionChange)="filterPrices()">
              <mat-option value="">Tous les pays</mat-option>
              @for (country of countries; track country.code) {
                <mat-option [value]="country.code">
                  {{ country.name }} ({{ country.currency }})
                </mat-option>
              }
            </mat-select>
          </mat-form-field> -->
          <div class="mat-elevation-z8 sticky-table-container">
            <table mat-table [dataSource]="dataSource" matSort class="sticky-table">
              <!-- Colonne Nom -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.inAppName || selectedInApp?.name }}
                  <span class="product-id">({{ element.productId || selectedInApp?.productId }})</span>
                </td>
              </ng-container>
          
              <!-- Colonne Pays -->
              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
                <td mat-cell *matCellDef="let element">
                  {{ countryMap.get(element.country) || element.country }}
                </td>
              </ng-container>
              
              <!-- Et pour le filtre : -->
              <mat-form-field appearance="fill">
                <mat-label>Pays</mat-label>
                <mat-select [(value)]="selectedCountry" (selectionChange)="filterPrices()">
                  <mat-option value="">Tous les pays</mat-option>
                  @for (country of countries; track country.code) {
                    <mat-option [value]="country.code">{{ country.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
          
              <!-- Colonne Prix client -->
              <ng-container matColumnDef="customer_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix client</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.customer_price}}
                  
                  <span class="currency">({{ getCurrency(element.country) }})</span>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="desired_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix souhaité</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.desired_price != null) {
                    {{ element.desired_price | number:'1.2-2' }}
                    <span class="currency">({{ getCurrency(element.country) }})</span>
                  } @else {
                    -
                  }
                </td>
              </ng-container>
              

              <!-- Colonne Type de prix -->
              <ng-container matColumnDef="price_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element">
                  <span class="price-type">{{ element.price_type }}</span>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          
            @if (dataSource.data.length === 0) {
              <div class="no-data-message">
                <mat-icon>info</mat-icon>
                <p>Sélectionnez un in-app</p>
              </div>
            }
          </div>         
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>