.side-nav-container { 
  display: flex; 
  flex-direction: column;
  width: 270px; 
  height: 100%;
  background-color: #f4f5fa; 
  border-right: 1px solid #ddd; 
  position: sticky;
  top: 0;
} 
 
.side-nav-header { 
  display: flex; 
  align-items: center; 
  padding: 16px; 
  border-bottom: 1px solid #ddd; 
  background-color: #f4f5fa; 
} 
 
.side-nav-tabs { 
  display: flex; 
  flex-direction: column;
  padding: 10px 0;
} 
 
.side-tab { 
  justify-content: flex-start; 
  text-align: left; 
  padding: 12px 24px; 
  border-radius: 0; 
  font-size: 16px; 
  color: #333; 
  font-weight: 500; 
} 
 
.side-tab:hover { 
  background-color: #e3e7ff; 
} 
 
.side-tab.active { 
  background-color: #7a89e0; 
  color: white; 
} 
 
.menu-item-content { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
} 
 
.selected-icon { 
  color: #000000; 
  margin-left: 8px; 
}



.page-layout {
  display: flex;
  min-height: 100vh;
}


app-navigation {
  display: flex;
  height: 100vh;
}